
<div style="max-width: 1000px;padding:10px;margin: 0px auto">


<!--
  public Name = '';
  public CustomerNumber: number | undefined;
  public Id: number | undefined;
  public IsDeleted = false;
  public Created: Date | undefined;
-->


  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">CustomerNumber</th>
        <th scope="col">IsDeleted</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
      <tr  >
        <th scope="row">ID</th>
        <td>Name</td>
        <td>CustomerNumber</td>
        <td>IsDeleted</td>
        <td>Created</td>
      </tr>

    </tbody>
  </table>

<hr>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">NAME</label>
    <input type="text" [(ngModel)]="this.mCustRow.Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">

  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">CustomerNumber</label>
    <input type="number" [(ngModel)]="this.mCustRow.CustomerNumber" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Customer Nunber">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">IsDeleted</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
